:root {
    --base-width: 1440px; /* to match figma artboard width */
    --scale-factor: calc(100vw / var(--base-width));
    --nav-height: 110px; 
}

.locationSection * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.locationSection {
    position: relative;
    width: 100%;
    min-height: 50.48vw;
    padding-bottom: 5vw;
    background: linear-gradient(to bottom, #A068A3, #69407C);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
}

.locationSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50.48vw;
    background: url('../../assets/location/texture.png') center/cover;
    opacity: 0.73; 
    z-index: 1; 
    mix-blend-mode: overlay; 
    pointer-events: none; 
}

.locationTitle,
.mapIframe,
.addressTitle,
.addressText,
.interactiveMapButton,
.interactiveMapText {
    position: relative; 
    z-index: 2; 
}

.locationTitle {
    position: absolute;
    width: 19.02vw;
    height: 4.72vw;
    left: 13.33vw;
    top: 4.5vw;
    font-weight: 700;
    font-size: 4.16vw;
    line-height: 4.72vw;
    color: #FFFFFF;
}

.mapIframe {
    position: absolute;
    width: 36.8vw;
    height: 33.05vw;
    left: 13.33vw;
    top: 11.31vw;
    border: none;
    border-radius: 2.01vw;
    filter: drop-shadow(0, 0.27vw, 0.55vw) rgba(0, 0, 0, 0.2);
}

.addressTitle {
    position: absolute;
    width: 8.88vw;
    height:2.5vw;
    left: 55vw;
    top: 11.31vw;
    font-weight: 500;
    font-size:2.22vw;
    line-height: 2.5vw;
    color: #FFFFFF;
}

.locationSection .addressText {
    position: absolute;
    width: 33.61vw;
    height: 9.72vw;
    left: 55vw;
    top: 16.31vw;
    font-weight: 400;
    font-size: 1.73vw;
    line-height: 2.43vw;
    color: #FFFFFF;
}

.interactiveMapButton {
    position: absolute;
    width: 25.55vw;
    height: 3.54vw;
    left: 55vw;
    top: 29.93vw;
    background: #FFFFFF;
    border-radius: 2.25vw;
}

.interactiveMapText {
    position: absolute;
    width: 26.45vw;
    height: 2.43vw;
    left: 57.36vw;
    top: 31.04vw;
    font-weight: 500;
    font-size: 1.66vw;
    line-height: 1.87vw;
    text-decoration-line: underline;
    color: #F13C4A;
    cursor: pointer;
}

.interactiveMapText:hover {
    color: #d13442;
}

@media (max-width: 768px) {
    .locationSection {
        min-height: 160vw; 
        padding-bottom: 3vw;
    }

    .locationSection::before {
        height: 100%;
    }

    .locationTitle {
        width: 50vw;
        height: auto;
        font-size: 8vw;
        line-height: 1.2;
        top: 20vw; 
        left: 12.5vw;
    }
    
    .mapIframe {
        width: 75vw;
        height: 60vw;
        left: 12.5vw;
        top: 35vw; 
    }
    
    .addressTitle {
        width: 75vw;
        height: auto;
        font-size: 5vw;
        line-height: 1.2;
        top: 100vw; 
        left: 12.5vw;
    }
    
    .locationSection .addressText {
        width: 75vw;
        height: auto;
        font-size: 4vw;
        line-height: 1.5;
        top: 110vw; 
        left: 12.5vw;
    }
    
    .interactiveMapButton {
        width: 60vw;
        height: 12vw;
        top: 135vw; 
        left: 12.5vw;
        border-radius: 6vw;
    }
    
    .interactiveMapText {
        width: 60vw;
        height: auto;
        font-size: 4vw;
        line-height: 1.2;
        top: 139vw; 
        left: 17vw;
    }
}