.interestedInSponsoringSection{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #FFEED6, #F9BAA8);
}
.interestedInSponsoringSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/location/texture.png'); 
    background-size: cover;
    background-position: center;
    mix-blend-mode: overlay; 
    opacity: 0.73; 
    z-index: 1;
}

.formContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44.7vw;   /* ~858px */
  height: 55.2vh;  /* ~522px */
  background: #FFF7F4;
  box-shadow: 0px 4px 6px 0px #00000040;
  border-radius: 1vw;
  opacity: 1;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; /* include padding in width/height */
  padding: 11.8vh 5.2vw;       /* internal spacing */
}

/* Input container (title + input) */
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin-bottom: 2vh;       /* spacing between groups */
  box-sizing: border-box;    /* padding included inside width */
}

/* Individual container widths */
.inputContainerEmail { width: 20.2vw; }

.inputContainerMessage .formInput {
  height: 12.6vh;       
}
/* Inputs */
.formInput {
  width: 100%;               /* fill container width */
  height: auto;              /* can adjust height individually */
  border-radius: 15px;
  border: 3px solid #AB6266;
  background: #FFFFFF;
  padding: 1vh 1vw;          /* internal spacing */
  font-size: 1rem;
  box-sizing: border-box;    /* padding included in width/height */
  resize: none;

  font-family: 'Nobile', sans-serif;
  font-weight: 500;     /* Medium */
  font-size: 1rem;      /* same as other inputs */
  line-height: 100%;
  color: #BD7777;       /* same input text color */

}


/* Titles below inputs */
.formTitle {
  font-family: 'Nobile', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #412200;
  margin: 0;
}

.formContainerBackground {
  position: absolute;

  width: 44.7vw;   /* 858px / 1920px */
  height: 55.2vh;  /* 522px / 945px */
  
  left: calc((100vw - 35.6vw) / 2);
  top: calc((100vh - 55.6vh) / 2);

  background-color: #E2A7A7;
  border-radius: 0.97vw;
  transform: rotate(-5deg);
  box-shadow: 0px 4px 6px 0px #00000040;
  z-index: 0;
  opacity: 1;
}


.highlight{
    position: absolute;
    width: 36.8vw;   /* 707px / 1920px */
    height: 5.2vh;   /* 56px / 1080px */
    left: 10vw;      /* 192px / 1920px */
    top: 8.8vh;      /* 95px / 1080px */
    font-family: 'Nobile', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6vw;    /* 50px / 1920px */
    line-height: 2.9vw;  /* 56px / 1920px */
    color: #703550;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formButtonContainer {
  display: flex;
  justify-content: center; /* center the button horizontally */
  margin-top: 1vh;         /* spacing above button */
}

.submitButton {
  width: 15.8vw;            /* button width */
  height: 5.9vh;            /* button height */
  background-color: #AB6266;
  border-radius: 2.6vh;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
}

.submitButtonText {
  font-family: 'Nobile', sans-serif;
  font-weight: 500;          /* Medium */
  font-size: 2.3vh;
  line-height: 100%;
  color: #FFFFFF;            /* button text color */
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* adds shadow to text */
}
.envelope {
  position: absolute;

  width: 17.07vw;   /* 25.6 / 1.5 */
  height: 20.27vh;  /* 30.4 / 1.5 */

  top: 41.5vh; 
  left: -8vw; 

  opacity: 1;

  background-image: url('../../assets/interestedInSponsoring/Component 25.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 10;  
}


.person {
  position: absolute;

  width: clamp(80px, 9.2vw, 180px);   /* min 80px, scales, max 180px */
  height: clamp(200px, 33.2vh, 360px);

  top: 44.1vh;
  left: 25.9vw;

  opacity: 1;
  background-image: url('../../assets/interestedInSponsoring/InterestedInSponsoring_3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: -8vh;
  width: 100vw;            /* full width */
  height: 15.8vh;          /* scale height proportionally to viewport, approx 148/936 = 15.8% */

  background-image: url('../../assets/interestedInSponsoring/Component 39.png');
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 1;
}

.successMessage,
.errorMessage {
  position: absolute;    /* overlay */
  top: 1rem;             /* distance from top of form container */
  left: 50%;             /* center horizontally */
  transform: translateX(-50%);
  font-family: 'Nobile', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  z-index: 10;           /* above inputs */
}

.successMessage {
  color: green;
}

.errorMessage {
  color: red;
}

@media (max-width: 1024px) {
  .highlight {
    line-height: 1;  /* extra spacing for readability */
    word-break: break-word; /* prevents overflow if text is long */
  }

  .formContainer {
    width: 80%;
    padding: 2rem;
  }

  .submitButton {
    width: 60%;
    height: 50px;
  }

  .person, .envelope {
    display: none; /* hide decorative assets on smaller screens */
  }
  .successMessage,
  .errorMessage {
    left: 1rem;        /* cancel centering */
    right: 1rem;       /* push to right */
    transform: none;   /* remove horizontal translate */
    text-align: right; /* align text to the right */
    width: auto;       /* shrink to fit content */
  }
}

@media (max-width: 600px) {
  .highlight {
    font-size: 6vw;
    width: 80vw;
  }
  .inputContainerEmail {
    width: 100%;  
  }

  .formContainer {
    width: 90%;
    padding: 1.5rem;
  }

  .successMessage,
  .errorMessage {
    left: 8rem;        /* cancel centering */
    right: 1rem;       /* push to right */
    transform: none;   /* remove horizontal translate */
    text-align: right; /* align text to the right */
    width: auto;       /* shrink to fit content */
  }

}